footer {
    width: 100%;
    background-image: url("../img/images/background_footer.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.all_nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 1050px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.company_desc_header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #181e4b;
}

.company_desc_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #5e6282;
    margin-top: 19px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 34px;
}

h2 {
    margin-bottom: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5e6282;
}

.all_social {
    width: 100%;
    @media (max-width: 1050px) {
        margin-top: 30px;
    }
}

.discover {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.discover_app {
    display: flex;
}

.discover_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #5e6282;
    margin-bottom: 16px;
}

.the_end {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #5e6282;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}

.nav_flex {
    display: flex;
}

.nav_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    width: 100%;
    @media (max-width: 1050px) {
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_jadoo {
    margin: 0 85px 0 50px;
    @media (max-width: 1050px) {
        margin: 0 0 0 0;
        margin-bottom: 30px;
    }
}
