.logo_images {
    width: 1073px;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 186px;
    margin-top: 96px;
}

.axon {
    margin-right: 77px;
}

.expedia {
    width: 100%;
    margin-top: 138px;
    margin-left: 50px;
    margin-right: 47px;
}

.qantas {
    margin-right: 99px;
}
