.all {
    margin: 0 auto;
}

.servis {
    margin-top: 97px;
    @media (max-width: 1275px) {
        & {
            margin-left: 0px;
            margin-top: 40px;
        }
    }
}

.servis_heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5e6282;
    @media (max-width: 1100px) {
        & {
            font-size: 13px;
            line-height: 15px;
        }
    }
    @media (max-width: 600px) {
        & {
            font-size: 10px;
            line-height: 5px;
        }
    }
}

.servis_title {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183e;
    @media (max-width: 1100px) {
        & {
            font-size: 30px;
            line-height: 45px;
        }
    }
    @media (max-width: 600px) {
        & {
            font-size: 20px;
            line-height: 35px;
        }
    }
}

.m-align_left {
    text-align: left !important;
}

.logo_servis {
    position: absolute;
    width: 153px;
    height: 166px;
    left: 1229px;
    top: 966px;
    margin-left: 254px;
    @media (max-width: 1600px) {
        display: none;
    }
}

.servis_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1090px;
    @media (max-width: 1100px) {
        & {
            justify-content: center;
        }
    }
    @media (max-width: 730px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }
}

.servis_category {
    max-width: 190px;
    text-align: center;
    margin: 20px;
    @media (max-width: 950px) {
        & {
            margin: 0px;
        }
    }
    @media (max-width: 730px) {
        & {
            padding-top: 40px;
        }
    }
}

.name_category {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1e1d4c;
    text-align: center;
    margin-top: 30px;
    @media (max-width: 600px) {
        & {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

.description_category {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5e6282;
    margin-top: 15px;
    @media (max-width: 600px) {
        & {
            font-size: 13px;
            margin-top: 10px;
            line-height: 20px;
        }
    }
}

.servis_list_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
