.subscribe_section {
    width: 1356px;
    height: 407px;
    background-image: url("../img/images/background_image.svg");
    background-repeat: no-repeat;
    margin-left: 48px;
    margin-top: 111px;
}

.telegram_logo {
    margin-left: 1200px;
}
.subscribe_text {
    width: 859px;
    height: 108px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    text-align: center;
    color: #5e6282;
    margin-left: 243px;
    padding-top: 22px;
}

.background_email {
    width: 421px;
    height: 68px;
    background: #ffffff;
    border-radius: 10px;
    margin-left: 387px;
    margin-top: 74px;
    display: flex;
    align-items: center;
}

.email_logo {
    margin-left: 31px;
}

.email_text {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #39425d;
    margin-left: 14px;
}

.sub {
    margin-top: 74px;
    margin-left: 24px;
}

.text_button {
    display: flex;
    align-items: center;
}

input {
    border: none;
    width: 100%;
    height: 30px;
}

.inst {
    width: 45px;
    height: 45px;
    background: conic-gradient(
        from 180deg at 50% 50%,
        #b8d2f1 0deg,
        #f289aa 60deg,
        #c68bf0 106.09deg,
        #d164da 153.75deg,
        #c963e8 221.25deg,
        #bfc2e8 258.75deg,
        #ffc999 288.75deg,
        #d0d8c9 315deg,
        #bad0f1 334.13deg,
        #ced8cb 358.97deg,
        rgba(255, 255, 255, 0) 360deg
    );
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
